.sticky {
  display: flex;
  position: fixed;
  background-color: black;
  justify-content: space-around;
  width: 100%;
  border: 2px solid red;
  top: 0%;
  height: 50px;
  align-items: center;
}

.sticky a {
  color: white;
}

div.images img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  div.images {
    width: 33%;
    float: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  div.images {
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 769px) {
  div.images {
    width: 100%;
    float: left;
  }
}
body {
  margin-top: 55px;
}
