.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form {
  background-color: aliceblue;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 100%;
}

.title {
  color: black;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: baseline;
  height: 50px;
  width: 100%;
  margin: 50px;
}
.ic1 {
  margin-top: 40px;
}
.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
/* .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  } */

.cut-short {
  width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  /* justify-content: center;
  align-items: center; */
  margin-left: 50%;
  /* outline: 0; */
  text-align: center;
}

.submit:active {
  background-color: #06b;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-top: 0%;
  font-size: 0.9em;
  width: 100%;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: aliceblue;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 20px 25px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.content-table td {
  background-color: white;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:nth-of-type(even) {
  background-color: white;
} */

/* .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Left Side Navigation Bar */

.header {
  position: fixed;
  /* display: flex; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* flex-direction: column; */
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  background-color: white;
}
.unstyled {
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0%;
}

.list-hover-slide button {
  background: transparent;
  border: none !important;
  font-size: 20px;
  transition: 0.35s ease color;
  margin-top: 40px;
  margin-left: 10px;
}
.list-hover-slide button:hover {
  color: blue;
}

.table-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  width: 85vw;
  background-color: aliceblue;
  padding: 0%;
}
/* buttons */
.customers-addcustomer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: -1%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin-left: */
}

.add-button {
  margin-right: 3%;
  background-color: #7303fc;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  height: 40px;
}

i {
  margin-right: 10px;
}
@font-face {
  font-family: "YourFontName"; /*a name to be used later*/
  src: url("http://domain.example/fonts/font.ttf"); /*URL to font*/
}
/* Then, trivially, to use the font on a specific element:

.classname {
  font-family: 'YourFontName';
} */
.nav-button {
  font-size: 20px;
  /* margin-left: -%; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

i {
  margin-right: 10px;
}

/* 
.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
} */
/* 
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
} */

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text :focus {
  background-color: #009879;

  /* left: 0;
  transition: 350ms; */
}

/* .nav-text :active {
  background-color: #009879;
} */
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
